/* 
Navbar Background: #222222

Navbar First Word Text Color 
#45494c

Navbar rest word text color 
#4c4c4b

Main BC #ffffff

Header Bakground #eeeeee

Header Title #393939

Header Content #393939

Header Button BC #428bca

Header Button text #eeeee2

Border Color #f6f6f6

*/

*{
    padding: 0;
    margin: 0;
}

.body{
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 500px 100px;
    width: 100%;
    height: 100vh;
}

/* Navigation */

.nav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    background-color: #222222;
    
}

ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 5%;
    list-style: none;
    /* : center; */
}

li{
    color: #45494c;
}

li:first-child{
    font-weight: 600;
}

/* Main */

.main{
    display: grid;
    align-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: ##ffffff;
}



/*Jumbotron */

.jumbotron{
    
}

.jb-title{

}

.jb-content{

}

.jb-button{

}

/* Gallery */

.gallery{

}

.card-image{
}

.card-title{

}

.card-content{

}

.card-button{

}

.c-btn{

}

.btn-1{

}

.btn-2{

}



/* Footer */
.footer{
    display: grid;
    width: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-text{

}