*{
    padding: 0;
    margin: 0;
}

.body{
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    width: 100%;
    height: 100vh;
}

/* Navigation */

.nav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    background-color: rgb(216, 62, 152);
}

ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
}

li{
    color: aquamarine;
}

/* Main */

.main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*Jumbotron */