/* Colors 
Nav back  #222222
Nav Text #77775c

Heading Title #333333
Secondary text #777777

box caption #418cca
box text #333333

border-top #eeeeee


*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
}

.nav{
    width: 100%;
    background-color: #222222;
    height: 3em;
}

ul{
    list-style-type: none;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
}

li{
    color: #6d6d5a;

}

li:first-child{
    font-weight: 600;
}

.main{
    width: 80%;
    margin: 3em auto 0 auto;
}

.header{
    display: flex;
    column-gap: 0.5em;
    box-sizing: border-box;
    padding: 0.5em  0;
    color: #777777;
    align-items: baseline;
    /* font-size: 20px; */
}

.header p:first-child{
    color: #333333;
    /* font-size: 30px; */
    font-size: 2em;
}

#second{
    font-size: 1.4em;
}

.article{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    margin: 0 0 0 0;
    padding: 2% 0 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
}

.box{
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}

.box img{
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box p{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2em;
    color: #418cca;
    align-items: end;
}

.box .text{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1em;
    color: #333333;
    align-items: center;
}

.footer{
    display: flex;
    height: 100px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-size: 1em;
    color: #333333;
}

@media(min-width: 1501px) and (max-width: 1600px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }
    
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 4% 0;
        row-gap: 2em;
        column-gap: 2em;
    }

    .box{
        height: 350px;
    }

    .box p{
        height: 50px;
        font-size: 28px;
        align-items: end;
    }

    .box .text{
        height: 70px;
        font-size: 18px;
        align-items: center;
        text-align: justify;
    }

    .footer p{
        font-size: 26px;
    }
}

@media(min-width: 1401px) and (max-width: 1500px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }
    
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 4% 0;
        row-gap: 2em;
        column-gap: 2em;
    }

    .box{
        height: 350px;
    }

    .box p{
        height: 50px;
        font-size: 28px;
        align-items: end;
    }

    .box .text{
        height: 50px;
        font-size: 18px;
        align-items: end;
        text-align: justify;
    }

    .footer p{
        font-size: 26px;
    }
}

 @media(min-width: 1351px) and (max-width: 1400px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }
    
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 4% 0;
        row-gap: 1.2em;
        column-gap: 1.2em;
    }

    .box{
        height: 285px;
    }

    .box p{
        font-size: 19px;
        align-items: end;
    }

    .box .text{
        font-size: 14px;
        align-items: end;
    }

    .footer p{
        font-size: 24px;
    }
}


@media(min-width: 1181px) and (max-width: 1350px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }
    
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 4% 0;
        row-gap: 1.2em;
        column-gap: 1.2em;
    }

    .box{
        height: 260px;
    }

    .box p{
        font-size: 18px;
        align-items: end;
    }

    .box .text{
        font-size: 14px;
        align-items: end;
    }

    .footer p{
        font-size: 24px;
    }
}
@media(min-width: 1061px) and (max-width: 1180px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }
    
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 4% 0;
        row-gap: 1.2em;
        column-gap: 1.2em;
    }

    .box{
        height: 250px;
    }

    .box p{
        font-size: 18px;
        align-items: end;
    }

    .box .text{
        font-size: 14px;
        align-items: center;
    }

    .footer p{
        font-size: 24px;
    }
}

@media(min-width: 941px) and (max-width: 1060px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }
    
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 4% 0;
        row-gap: 1em;
        column-gap: 1em;
    }

    .box{
        height: 220px;
    }

    .box p{
        font-size: 16px;
        align-items: end;
    }

    .box .text{
        font-size: 12px;
        align-items: center;
    }

    .footer p{
        font-size: 22px;
    }
}

@media(min-width: 781px) and (max-width: 940px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 3em auto 0 auto;
    }

    .header p:first-child{
        font-size: 32px;
    }

    #second{
        font-size: 26px;
    }

    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2% 0 5% 0;
        row-gap: 1.1em;
        column-gap: 1.1em;
    }

    .box{
        height: 200px;
    }

    .box p{
        font-size: 16px;
        align-items: end;
    }

    .box .text{
        font-size: 12px;
        align-items: center;
    }

    .footer p{
        font-size: 22px;
    }
}

@media(min-width: 681px) and (max-width: 780px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 7%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 2.8em auto 0 auto;
    }

    .header p:first-child{
        font-size: 30px;
    }

    #second{
        font-size: 24px;
    }

    .article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding: 3% 0 6% 0;
        row-gap: 1em;
        column-gap: 1em;
    }

    .box{
        height: 230px;
    }

    .box p{
        font-size: 18px;
        align-items: end;
    }

    .box .text{
        font-size: 12px;
        align-items: center;
    }

    .footer p{
        font-size: 20px;
    }
}

@media(min-width: 621px) and (max-width: 680px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 6%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 2.5em auto 0 auto;
    }

    .header p:first-child{
        font-size: 28px;
    }

    #second{
        font-size: 22px;
    }

    .article{
        display: flex;
        flex-direction: column;
        padding: 3% 0 8% 0;
        row-gap: 1.6em;
    }

    .box{
        height: 380px;
        display: grid;
    }

    .box p{
        font-size: 20px;
    }

    .box .text{
        font-size: 15px;
        align-items: center;
    }

    .footer p{
        font-size: 20px;
    }
}

@media(min-width: 561px) and (max-width: 620px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 5%;
    }

    li{
        font-size: 18px;
    }

    .main{
        margin: 2em auto 0 auto;
    }

    .header p:first-child{
        font-size: 26px;
    }

    #second{
        font-size: 20px;
    }

    .article{
        display: flex;
        flex-direction: column;
        padding: 4% 0 8% 0;
        row-gap: 1.6em;
    }

    .box{
        height: 350px;
        display: grid;
    }

    .box p{
        font-size: 20px;
    }

    .box .text{
        font-size: 15px;
        align-items: center;
    }

    .footer p{
        font-size: 20px;
    }
}

@media(min-width: 481px) and (max-width: 560px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 5%;
    }

    li{
        font-size: 17px;
    }

    .main{
        margin: 1em auto 0 auto;
    }

    .header p:first-child{
        font-size: 24px;
    }

    #second{
        font-size: 18px;
    }

    .article{
        display: flex;
        flex-direction: column;
        padding: 4% 0 8% 0;
        row-gap: 1.4em;
    }

    .box{
        height: 320px;
        display: grid;
    }

    .box p{
        font-size: 20px;
    }

    .box .text{
        font-size: 15px;
        align-items: center;
    }

    .footer p{
        font-size: 19px;
    }
}

@media(min-width: 421px) and (max-width: 480px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 5%;
    }

    li{
        font-size: 16px;
    }

    .main{
        margin: 1em auto 0 auto;
    }

    .header p:first-child{
        font-size: 22px;
    }

    #second{
        font-size: 16px;
    }

    .article{
        display: flex;
        flex-direction: column;
        padding: 5% 0 10% 0;
        row-gap: 1.3em;
    }

    .box{
        height: 290px;
        display: grid;
    }

    .box p{
        font-size: 19px;
    }

    .box .text{
        font-size: 15px;
        align-items: center;
    }

    .footer p{
        font-size: 18px;
    }
}

@media(min-width: 321px) and (max-width: 420px) {
    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }

    ul{
        width: 80%;
        margin: 0 auto;
        column-gap: 5%;
    }

    li{
        font-size: 15px;
    }

    .main{
        margin: 1em auto 0 auto;
    }
    
    .header p:first-child{
        font-size: 20px;
    }

    #second{
        font-size: 14px;
    }

    .article{
        display: flex;
        flex-direction: column;
        padding: 5% 0 10% 0;
        row-gap: 1.2em;
    }

    .box{
        height: 250px;
        display: grid;
    }

    .box p{
        font-size: 18px;
    }
    
    .box .text{
        font-size: 13px;
        align-items: center;
    }

    .footer p{
        font-size: 16px;
    }
}

@media(min-width: 260px) and (max-width: 320px) {

    .container{
        width: 100%;
    }

    .nav{
        width: 100%;
        height: 3em;
    }
    
    ul{
        width: 80%;
        column-gap: 5%;
    }

    li{
        font-size: 12px;
    }

    .main{
        margin: 1em auto 0 auto;
    }
    
    .header p:first-child{
        font-size: 18px;
    }

    #second{
        font-size: 12px;
    }

    .article{
        display: flex;
        flex-direction: column;
        padding: 5% 0 10% 0;
        row-gap: 1.2em;
    }

    .box{
        height: 210px;
        display: grid;
    }

    .box p{
        font-size: 18px;
    }
    
    .box .text{
        font-size: 12px;
        align-items: center;
    }

    .footer p{
        font-size: 14px;
    }

}