*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.container{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 1em 1em;
    background-color: #f0f0f0;
}

.inner-container{
    width: 100%;
    box-sizing: border-box;
    padding: 1em 1em;
    /* margin: 2% 2%; */
    display: grid;
    /* grid-template-columns: 1.25fr 2.25fr 1.25fr 1.25fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 3fr 1fr 1fr; */
    /* grid-template-rows: 35% 25% 25%; */
    grid-template-rows: 1.5fr 1fr 1fr;
    height: 100%;
    column-gap: 1em;
    row-gap: 1em;
    background-color: #ffffff;
}

.a, .b, .c, .d, .e, .f, .g, .h{
    box-sizing: border-box;
    background-color: #CBCBCB;
    padding: 3% 3%;
    color: #ffffff;
}

.a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.b{
    grid-column-start: 3;
    grid-column-end: 7; 
    grid-row-start: 1;
    grid-row-end: 2;
}

.c{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.d{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.e{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}

.f{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.g{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
}

.h{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 10;
    grid-column-end: 13;
}
/* Responsive */

@media(min-width: 321px) and (max-width: 720px){
    .inner-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .a, .c, .e, .g{
        padding: 1em 1em;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .b, .d, .f, .h{
        padding: 1em 1em;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .a{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .b{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .c{
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .d{
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .e{
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .f{
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .g{
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .h{
        grid-row-start: 4;
        grid-row-end: 5;
    }

}

@media(min-width: 240px) and (max-width: 320px) {

    .inner-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .a{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .b{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .d{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .e{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .f{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .g{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .h{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }

}